<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ESG Chat-GPT Q&A</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <link rel="icon" href="static/udem round logo.png" type="image/png">


    </head>

    <body>
        <div class="container1">
            <img src="static/cropped-Logo-Algora-udm.png" alt="Company Logo" class="logo">
            <h1>ChatGPT ESG Q&A</h1>
            <p>This page is built on a collection of ESG report published from selected corporations.</p>
            <p>You can interrogate the documents inside our collection and add your own documents.</p>
        </div>

        <div class="container2">
            <h2>1. Select company</h2>
            <h3> or upload a pdf ... it takes a minute or so</h3>
                
            <!-- Upload pdf -->
            <form action="/upload" method="POST" enctype="multipart/form-data">
                <input type="file" name="file">
                <br>
                <br>
                <input type="submit" value="Upload">
            </form>
 
            <form action="/process" method="POST">
                <!-- Select company and Select question -->
                <label for="company">Select Company:</label>
                
                <select name="company">
                    {% for company in companies %}
                    <option value="{{ company }}" {% if company == selected_company %}selected{% endif %}>{{ company }}</option>
                    {% endfor %}
                </select>
                
                <br>          
                <br>
                
                <h2>2. Ask a question</h2>
                <label for="question">from this menu:</label>
                <select name="question">
                    {% for question in questions %}
                    <option value="{{ question }}" {% if question == selected_question %}selected{% endif %}>{{ question }}</option>
                    {% endfor %}
                </select>
                
                <p>  </p>
                <!-- write your own question -->
                <label for="text_input">or enter your own question:</label>
                    <input type="text" name="text_input" placeholder="Enter text">
                <br>
                <br>
                <h2>3. Press Submit</h2>
                <input type="submit" value="Submit">
            </form>
        <div class="container3">
            <p><strong>Selected Company:</strong> {{ company_name }}</p>
            <br>
            <p><strong>Name of report: </strong>{{ report_name }}</p>
            

            {% if selected_company and selected_question %}
                <div class="text-area">
                    <h2>Prompt</h2>
                    <textarea rows="7" class="rounded-textbox">{{ prompt }}</textarea>
                </div>   
                <div class="text-area">
                    <h2>Response</h2>
                    <textarea rows="10" class="rounded-textbox">{{ response }}</textarea>
                </div>
                <div class="text-area">
                    <h2>Excerpt</h2>
                    <a href="{{ reference_url }}" target="_blank">{{ reference_url }}</a>
                </div>
            {% endif %}
        </div>
    </body>
</html>
